<div class="login-area-bg d-none d-md-block"></div>
<div class="form-area">
  <form>
    <h1 class="title">CRUD USUÁRIOS</h1>
    <h2 class="caption">Mais eficiência no controle de usuários</h2>

    <input
      [(ngModel)]="userName"
      [ngModelOptions]="{ standalone: true }"
      class="form-input"
      type="text"
      placeholder="Informe seu nome..."
    />

    <app-button [buttonText]="'Acessar'" [size]="'100'" (click)="login()" />
  </form>

  <p class="footer">©️2024 | Desesenvolvido por Igor Montezuma</p>
</div>
