<nav class="sidemenu">
  <ul>
    <li routerLink="/home">
      <img src="/assets/images/logo.png" alt="Logo" width="40" />
      <span class="logo">Crud de usuários</span>
    </li>
    <li routerLink="/home"><mat-icon>home</mat-icon> Home</li>
    <li routerLink="/usuarios">
      <mat-icon>person_add</mat-icon>Cadastrar usuários
    </li>
    <a
      href="https://firebase.google.com/docs?gad_source=1&gclid=Cj0KCQjw_qexBhCoARIsAFgBleuLfDJ0_w2zJT_KQYzzDe3Cb_kAEvEPJS5hWwRmAeifzFrYq56j5iYaAvjmEALw_wcB&gclsrc=aw.ds&hl=pt-br"
      target="_blank"
      ><li><mat-icon>local_fire_department</mat-icon>Firebase</li></a
    >
    <a href="https://angular.dev/" target="_blank"
      ><li><mat-icon>description</mat-icon>Angular</li></a
    >
    <li class="logout" routerLink="/login"><mat-icon>logout</mat-icon>Sair</li>
  </ul>
</nav>
